header {
  text-align: center;
  background: url("https://cbsnewyork.files.wordpress.com/2015/09/un3.jpg");
  background-size: cover;
  color: white;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;  
}
img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
.header {
  text-align: center;
  background: black;
}
.header li {
  display: inline;
}
t1 {
  position: absolute;
  top: 0px;
  left: 10px;
}

t2 {
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-top: 160px;
  background: white;
  color: rgba(0, 102, 204,.8);
  font-family: helvetica;
  font-size:20px;
  font-weight:bold;
}

.countries {
    display: block;
    list-style-type: none;
    margin: 50px;
    padding: 10px 10px;
    overflow: hidden;
    background-color: white;
}
.countries li {
    float: left;
    display: table;
    padding-right: 30px;
    padding-left: 30px;
    margin: 1em 0;
}
li:hover{
  color: white;  
  background-color: rgba(173,216,230, 1);
}
body {
  text-align: center;
  background: white;
  color: rgba(173,216,230, 1);
  font-family: helvetica;
}

figcaption { 
    display: block;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
} 

a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
}